services:
  - type: web
    name: inkel-tourism-api
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python api/main.py
    envVars:
      - key: PORT
        value: 8080
      - key: HOST
        value: 0.0.0.0
    healthCheckPath: /health